@use "partials/variables" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-one {
  background-color: $Bg-dark;
  height: 90vh;
  color: $Bg-white;
  padding: 3rem;
}

// Header
.header {
  color: $Bg-white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 24px;
    font-weight: 500;
    margin-right: 44.9rem;
  }

  &__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__a {
    color: $Text-link2;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.125rem;
  }
}

// Hero

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;

  &__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    width: 50%;
    margin-right: 1rem;
  }

  &__h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3rem;
    width: 80%;
  }

  &__p {
    font-size: 1.3rem;
    color: $Text-link2;
    margin: 1rem 0;
  }

  &__btn {
    padding: 0.8rem 2rem;
    border-radius: 6px;
    background-color: $Btn-cta;
    color: $Text-link;
    font-weight: 500;
    font-size: 1rem;
    border: none;
  }

  &__right {
    height: 200px;
    width: 40%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    font-size: 1.2rem;
    color: $Bg-dark;
  }
}

// Services

.services {
  background-color: $Bg-white;
  height: 60vh;
  color: $Bg-dark;
  padding: 3rem;

  &__h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  &__all {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 3.5rem;
  }

  &__div {
    width: 150px;
    height: 150px;
    border: 5px solid $Btn-cta;
    border-radius: 6px;
  }

  &__p {
    width: 80%;
    margin-top: 0.5rem;
  }
}

// Reviews
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Text-link;
  height: 50vh;

  &__item {
    width: 50%;
  }

  &__p {
    font-size: 1.7rem;
    line-height: 40px;
    font-style: italic;
    color: $Bg-dark;
  }

  &__pp {
    text-align: end;
    font-weight: 900;
    font-size: 1.2rem;
  }
}

// CTA
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  color: $Bg-white;
  height: 30vh;

  &__div {
    background-color: $Btn-cta;
    padding: 2.5rem 7rem;
    border-radius: 10px;
    width: 75%;
    display: flex;
    justify-content: space-between;
  }

  &__p {
    margin: 0.4rem 0;
    color: $Text-link2;
  }

  &__btn {
    background-color: transparent;
    border: 2px solid $Text-link2;
    color: $Bg-white;
    padding: 0 2rem;
    border-radius: 8px;
    font-size: 0.8rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8dvh;
  background-color: $Bg-dark;
  color: $Text-link2;
}
